.jumbotron{
  background-image: url("../img/selva.jpg");
  background-size: cover;
  height: 80vh;
  margin-bottom: 0.6vh
}
.jumbotron h1{
    padding-top: 20vh
}
.jumbotron h1, .jumbotron p{
  text-shadow: 3px 3px 3px black
}
.carousel img{
  height: 80vh;
  padding-left: 31vh;
  padding-right: 31vh
}
.carousel h5, .carousel p{
  text-shadow: 5px 5px 5px black;
  font-style: italic;
  background-color: grey
}
.navbar img{
  width: 31vh;
  height: 20vh;
  margin-top: 10vh
}
.navbar{
  transition: 0.5s;
  opacity: 0.8;
  max-height: 10vh
}
.navbar:hover{
  opacity: 1
}
body{
  color:white;
  background-color: black;
}
.page-footer{
  color:white;
  margin-right: 0;
  margin-left: 0
}
.card img{
  height: 50vh
}
@media screen and (max-width: 991px){
  .navbar{
    max-height: 100vh;
    opacity: 1
  }
  .navbar img{
    margin-top: -1vh;
    margin-bottom: -10vh;
    width: 28vh;
    height: 17vh
  }
  .navbar ul{
    margin-top: 9vh
  }
  .carousel img{
    height: 40vh;
    padding-left: 0;
    padding-right: 0
  }
  .carousel p, .carousel h5{
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px black
  }
}
